*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 60%;
    margin: 2rem auto;
}
.container h1{
    color: #ebfffc;
    text-align: center;
    padding-bottom: 2rem;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputTxt{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    
    margin-right: 16px;
    font-size: 18px;
    border-radius: 2rem;
}
.btn{
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
    background: #00feba;
    color: white;
}


.loading{
    width: 5rem;
    height: 5rem;
    border: 10px solid #00feba;
    border-top: 10px solid #5b548a;
    border-radius: 100%;
    margin: 2rem auto;
    animation: spin 1s infinite linear;
    display: none;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.output{
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 1rem;
    display: none;

}
.output h2{
    margin-bottom: 2rem;
    font-size: 48px;
}
.output h1{
    font-size: 28px;
}
.output img{
    width: 150px;
}

@media(max-width: 800px){
    form{
        flex-direction: column;
    }
    .loading{
        width: 3rem;
        height: 3rem;
    }
    .output{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inputTxt{
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
    .btn{
        height: 40px;
        font-size: 14px;
        margin: 1rem 0;
    }
}
